.app-logo {
  height: 12vh;
}

html {
  scroll-snap-type: y mandatory;
}

.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
  margin: 0px;
  padding: 0px;
}

.top > h1 {
  text-align: center;
  color: whitesmoke;
}

.videos {
  position: relative;
  height: 70vh;
  background-color: #fff;
  width: 70%;
  border-radius: 20px;
  max-width: 350px;
  max-height: 1200px;
  overflow: scroll;
  scroll-snap-type: mandatory;
}

/* for chrome safari nd opera */
.videos::-webkit-scrollbar {
  display: none;
}

/* for IE nd Edge */
.videos {
  -ms-overflow-style: none;
  scrollbar-width: none; /* firefox */
}
